# Pandas (Day-1)

In [ ]:
# importing necessary libraries
import pandas as pd

In [3]:
pd.__version__

'2.2.3'

In [5]:
# read data

df = pd.read_csv('./data/popdata.csv')

In [6]:
# write data 
df.to_excel('./data/popdata.xlsx')

In [7]:
# reading the exel file

df_xl =pd.read_excel('./data/popdata.xlsx')

# Pandas Tips

In [8]:
# print the variables or data in terminal

print(df)

    Date(Year)  Population  Annual % Change        Name Area A (km²)  \
0         1950    39728535              NaN     Barguna        1,831
1         1951    40548590             2.06     Barisal        2,785
2         1952    41426885             2.17       Bhola        3,403
3         1953    42329279             2.18   Jhalakati          707
4         1954    43282032             2.25  Patuakhali        3,221
..         ...         ...              ...         ...          ...
68        2018   163683958             1.17         NaN          NaN
69        2019   165516222             1.12         NaN          NaN
70        2020   167420951             1.15         NaN          NaN
71        2021   169356251             1.16         NaN          NaN
72        2022   171186372             1.08         NaN          NaN

    Census_1991 Census_2001  Census_2011  Census _2022
0       775,693     848,554      892,781     1,010,530
1     2,207,426   2,355,967    2,324,310     2,570,450
2     1,476,328   1,703,117    1,776,795     1,932,514
3       666,139     694,231      682,669       661,161
4     1,273,872   1,460,781    1,535,854     1,727,254
..          ...         ...          ...           ...
68          NaN         NaN          NaN           NaN
69          NaN         NaN          NaN           NaN
70          NaN         NaN          NaN           NaN
71          NaN         NaN          NaN           NaN
72          NaN         NaN          NaN           NaN

[73 rows x 9 columns]

In [9]:
# How the data looks like

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date(Year)       73 non-null     int64
 1   Population       73 non-null     int64
 2   Annual % Change  72 non-null     float64
 3   Name             64 non-null     object
 4   Area A (km²)     64 non-null     object
 5    Census_1991     64 non-null     object
 6   Census_2001      64 non-null     object
 7    Census_2011     64 non-null     object
 8    Census _2022    64 non-null     object
dtypes: float64(1), int64(2), object(6)
memory usage: 5.3+ KB

In [10]:
df.head()

,Date(Year),Population,Annual % Change,Name,Area A (km²),Census_1991,Census_2001,Census_2011,Census _2022
0,1950,39728535,NaN,Barguna,"1,831","775,693","848,554","892,781","1,010,530"
1,1951,40548590,2.06,Barisal,"2,785","2,207,426","2,355,967","2,324,310","2,570,450"
2,1952,41426885,2.17,Bhola,"3,403","1,476,328","1,703,117","1,776,795","1,932,514"
3,1953,42329279,2.18,Jhalakati,707,"666,139","694,231","682,669","661,161"
4,1954,43282032,2.25,Patuakhali,"3,221","1,273,872","1,460,781","1,535,854","1,727,254"

In [11]:
df.tail()

,Date(Year),Population,Annual % Change,Name,Area A (km²),Census_1991,Census_2001,Census_2011,Census _2022
68,2018,163683958,1.17,NaN,NaN,NaN,NaN,NaN,NaN
69,2019,165516222,1.12,NaN,NaN,NaN,NaN,NaN,NaN
70,2020,167420951,1.15,NaN,NaN,NaN,NaN,NaN,NaN
71,2021,169356251,1.16,NaN,NaN,NaN,NaN,NaN,NaN
72,2022,171186372,1.08,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df.describe()

        Date(Year)    Population  Annual % Change
count    73.000000  7.300000e+01        72.000000
mean   1986.000000  1.005421e+08         2.051667
std      21.217131  4.133160e+07         0.649238
min    1950.000000  3.972854e+07         0.880000
25%    1968.000000  6.399565e+07         1.385000
50%    1986.000000  9.827175e+07         2.150000
75%    2004.000000  1.387897e+08         2.540000
max    2022.000000  1.711864e+08         3.050000